/* @font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto";

  src: url("../fonts/roboto-webfont.eot");
  src: url("../fonts/roboto-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/roboto-webfont.woff2") format("woff2"),
  url("../fonts/roboto-webfont.woff") format("woff"),
  url("../fonts/roboto-webfont.ttf") format("truetype");
}


@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto";

  src: url("../fonts/robotobold-webfont.eot");
  src: url("../fonts/robotobold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/robotobold-webfont.woff2") format("woff2"),
  url("../fonts/robotobold-webfont.woff") format("woff"),
  url("../fonts/robotobold-webfont.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src: url("robotomedium-webfont.eot");
  src: url("robotomedium-webfont.eot?#iefix") format("embedded-opentype"),
  url("robotomedium-webfont.woff2") format("woff2"),
  url("robotomedium-webfont.woff") format("woff"),
  url("robotomedium-webfont.ttf") format("truetype");
} */

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 49px 0 11px;

  background-color: #eeeeee;
}

.logo-nerds:active {
  opacity: 0.3;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation-list li {
  position: relative;

  margin-right: 46px;
}

.navigation-list li:last-child {
  margin-right: 0;
}

.basket .navigation-item {
  padding-left: 41px;
}

.basket .navigation-item::before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;

  width: 15px;
  height: 15px;

  background: url("../img/basket-icon.svg");
}

.navigation-item {
  display: inline-block;
  padding: 16px 0 5px;

  vertical-align: middle;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #fb565a;
}

.navigation-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo-widget {
  position: relative;

  overflow: hidden;

  background-color: #eeeeee;
}

.widget-navigation-list {
  position: absolute;
  right: 50%;
  bottom: 95px;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.widget-navigation-list li {
  position: relative;

  margin-right: 17px;
}

.widget-navigation-list li:last-child {
  margin-right: 0;
}

.widget-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.widget-button-active {
  background-color: #d5d5d5;
}

.widget-button-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.promo-slide {
  position: relative;

  display: none;
}

.promo-slide-active {
  display: block;
}

.slide-text-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 62px 640px 80px 0;
}

.text-box-head {
  margin: 0 0 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.text-box-description {
  margin: 0 0 38px;
  padding-right: 95px;

  color: #283136;
}

.slider-button {
  display: inline-block;
  min-width: 240px;
  max-width: 400px;
  padding: 16px 0;

  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: #fb565a;
  border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slide-picture {
  position: absolute;
  top: 0;
  right: 31px;
}

.page-content {
  padding-bottom: 80px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 81px 0 0;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.feature-list li {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 79px;
}

.feature-list li:nth-child(3n) {
  margin-right: 0;
}

.feature-title {
  margin: 17px 0 14px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-text {
  margin: 0;
  margin-bottom: 32px;
  padding-right: 56px;

  color: #283136;
}

.feature-button {
  display: inline-block;
  min-width: 150px;
  max-width: 290px;
  padding: 17px 5px;

  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  border-radius: 3px;
}

.red {
  background-color: #fb565a;
}

.red:hover,
.red:focus {
  background-color: #e74246;
}

.red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 73px;

  border-bottom: 2px solid #eeeeee;
}

.about-box {
  width: 680px;
  padding: 36px 0 0;
}

.about-box-title {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-box-text {
  margin: 0;
  margin-bottom: 39px;

  color: #283136;
}

.about-box-order {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  text-transform: uppercase;
}

.about-box-order-list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: #283136;
}

.about-box-order-list li {
  position: relative;

  margin-bottom: 24px;
  padding-left: 37px;
}

.about-box-order-list li:last-child {
  margin-bottom: 0;
}

.about-box-order-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-statistic {
  width: 360px;

  text-align: center;
}

.about-statistic img {
  display: block;
  margin-bottom: 36px;
}

.slogan {
  margin: 0;
  margin-bottom: 43px;

  font-weight: bold;
  text-transform: uppercase;
}

.about-statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-statistic-list li {
  margin-right: 27px;

  text-align: left;
}

.stat-rate {
  position: relative;

  margin: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.stat-rate::after {
  content: "%";
  position: absolute;
  bottom: 8px;

  font-size: 27px;;
}

.stat-description {
  margin: 0;

  line-height: 18px;
  color: #283136;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.partner-list li {
      flex: 1;
  -webkit-box-flex: 1;
  min-height: 180px;

  -ms-flex: 1;
}

.partner-link {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.partner-link img {
  opacity: 0.2;
}

.partner-link:hover img,
.partner-link:focus img {
  opacity: 1;
}

.partner-link:active img {
  opacity: 0.1;
}

.partner-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.partner-list-item:nth-child(4n) .partner-link::after {
  content: none;
}

.partner-link img {
  margin: auto;
}

.map-container {
  position: relative;

  width: 1160px;
  height: 416px;
  margin: 0 auto;
}

.map-wrapper iframe {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 416px;

  border: 0;
}

.map-container::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 2;

  width: 231px;
  height: 190px;

  background: url("../img/map-marker.png") no-repeat 100% 50%;
}

.contact-box {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 319px;
  padding: 50px;

  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-name {
  margin: 0;
  margin-bottom: 21px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact-address {
  margin: 0;
  margin-bottom: 17px;

  line-height: 18px;
  color: #666666;
}

.contact-tel {
  margin: 0;
  margin-bottom: 40px;

  line-height: 18px;
  color: #666666;
}

.write-to-us {
  display: block;
  padding: 13px;

  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social-list li {
  margin-right: 11px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;

  display: block;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social-link-vk::before {
  width: 26px;
  height: 15px;

  background: url("../img/vk-icon.svg");
}

.social-link-fb::before {
  width: 12px;
  height: 22px;

  background: url("../img/fb-icon.svg");
}

.social-link-inst::before {
  width: 21px;
  height: 21px;

  background: url("../img/insta-icon.svg");
}

.social-link:active::before {
  opacity: 0.3;
}

.lead-container {
  margin: 0;
}

.lead-title {
  display: block;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.lead-text {
  line-height: 22px;
  color: #444444;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  padding: 73px 100px 84px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.modal-show {
  display: block;
}

.form-box {
  position: relative;
}

.form-title {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 25px;
  height: 25px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0;

  width: 3px;
  height: 26px;

  background-color: #fb565a;
  border-radius: 10px;
  opacity: 0.3;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.input-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
}

.input-name,
.input-mail,
.area-text {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.input-name::-webkit-input-placeholder,
.input-mail::-webkit-input-placeholder,
.area-text::-webkit-input-placeholder {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.input-name:-ms-input-placeholder,
.input-mail:-ms-input-placeholder,
.area-text:-ms-input-placeholder {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.input-name::-ms-input-placeholder,
.input-mail::-ms-input-placeholder,
.area-text::-ms-input-placeholder {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.input-name::placeholder,
.input-mail::placeholder,
.area-text::placeholder {
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.input-name,
.input-mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 18px 16px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.area-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
}

.area-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 47px;
  padding: 15px;

  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;
}

.input-box {
  width: 360px;
}

.input-box:last-of-type {
  margin-right: 0;
}

.input-name:hover,
.input-mail:hover,
.area-text:hover {
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #b4b9bb;
}

.input-name:focus,
.input-mail:focus,
.area-text:focus {
  color: #444444;

  border: 2px solid #000000;
}

.input-name:focus::-webkit-input-placeholder,
.input-mail:focus::-webkit-input-placeholder,
.area-text:focus::-webkit-input-placeholder {
  color: #444444;
}

.input-name:focus:-ms-input-placeholder,
.input-mail:focus:-ms-input-placeholder,
.area-text:focus:-ms-input-placeholder {
  color: #444444;
}

.input-name:focus::-ms-input-placeholder,
.input-mail:focus::-ms-input-placeholder,
.area-text:focus::-ms-input-placeholder {
  color: #444444;
}

.input-name:focus::placeholder,
.input-mail:focus::placeholder,
.area-text:focus::placeholder {
  color: #444444;
}

.input-name:invalid,
.input-mail:invalid,
.area-text:invalid {
  border: 2px solid #e74246;
}

.input-name:invalid::-webkit-input-placeholder,
.input-mail:invalid::-webkit-input-placeholder,
.area-text:invalid::-webkit-input-placeholder {
  color: #e74246;
}

.input-name:invalid:-ms-input-placeholder,
.input-mail:invalid:-ms-input-placeholder,
.area-text:invalid:-ms-input-placeholder {
  color: #e74246;
}

.input-name:invalid::-ms-input-placeholder,
.input-mail:invalid::-ms-input-placeholder,
.area-text:invalid::-ms-input-placeholder {
  color: #e74246;
}

.input-name:invalid::placeholder,
.input-mail:invalid::placeholder,
.area-text:invalid::placeholder {
  color: #e74246;
}

.letter-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 260px;
  padding: 16px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}


.navigation-item-current {
  border-bottom: 2px solid #fb565a;
}

.page-content-catalog {
  padding-bottom: 60px;
}

.page-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0;
  margin: 0 auto;
  padding: 60px 20px 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}

.page-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 55px 0 0;
}

.filter {
  width: 261px;
}

.filter-box {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-price {
  margin-bottom: 54px;
}

.filter-grid {
  margin-bottom: 25px;
}

.filter-special {
  margin-bottom: 30px;
}

.filter-box-title {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.title-price {
  margin-bottom: 48px;
}

.range-box {
  position: relative;

  width: 261px;
  height: 81px;
  margin-bottom: 13px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.range-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 219px;
  height: 2px;

  background-color: #d7dcde;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;

  width: 152px;
  height: 2px;

  background-color: #00ca74;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.circle-button {
  position: absolute;
  top: 50%;
  z-index: 1;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.min-button {
  left: 20px;
}

.max-button {
  left: 160px;
}

.price-box {
  margin-right: 29px;

  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.price-box:nth-of-type(2n) {
  margin-right: 0;
}

.input-price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  padding: 10px;

  text-align: center;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price-box-title {
  margin-right: 8px;
}

.type-list {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
  color: #283136;
}

.type-list li {
  margin-bottom: 20px;
}

.special-list li {
  margin-bottom: 20px;
}

.type-item {
  position: relative;

  padding-left: 36px;
}

.type-item:active {
  color: rgba(40, 49, 54, 0.3);
}

.radio-box {
  position: absolute;
  top: -1px;
  left: 0;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat;
  opacity: 0.4;
}

.type-item .type-input:checked ~ .radio-box {
  background: url("../img/radio-on.svg") no-repeat;
}

.type-item:hover .radio-box,
.type-input:focus + .radio-box {
  opacity: 1;
}

.type-input:active + .radio-box {
  opacity: 0.1;
}

.special-item {
  position: relative;

  padding-left: 36px;
}

.special-item:active {
  color: rgba(40, 49, 54, 0.3);
}

.special-list {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
  color: #283136;
}

.special-check {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 0.4;
}

.special-item .special-input:checked ~ .special-check {
  width: 27px;

  background: url("../img/checkbox-on.svg") no-repeat;
}

.special-item:hover .special-check,
.special-input:focus + .special-check {
  opacity: 1;
}

.special-input:active + .special-check {
  opacity: 0.1;
}

.filter-button {
  width: 100%;
  padding: 15px;

  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.catalog {
  width: 760px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 3px 0 55px;

  text-transform: uppercase;
}

.sort-title {
  margin: 0;
  margin-right: auto;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.sort-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-type-current {
  color: #000000;
}

.sort-type-list li {
  margin-right: 26px;
}

.sort-type-list li:last-child {
  margin-right: 0;
}

.sort-type-item:hover,
.sort-type-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type-item:active {
  color: #000000;
}

.arrow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 50px;
  padding: 0;

  list-style: none;
}

.arrow-list li {
  width: 11px;
  height: 10px;
  margin-right: 18px;
}

.arrow-list li:last-child {
  margin-right: 0;
}

.arrow-button {
  display: block;
  width: 0;
  height: 0;

  border: 10px solid #a6a6a6;
  opacity: 0.2;
}

.arrow-button:hover,
.arrow-button:focus {
  opacity: 1;
}

.arrow-button:active {
  border-color: #000000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrow-current {
  border-color: #000000;
  opacity: 1;
}

.arrow-button {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrow-down {
  border-bottom: none;
}

.arrow-up {
  border-top: none;
}

.pattern-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;
}



.pattern-list-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 40px;
  margin-bottom: 33px;
}

.pattern-list-item:nth-child(2n) {
  margin-right: 0;
}

.pattern-list-item svg {
  opacity: 0.12;
}

.pattern-list-item:hover svg {
  opacity: 1;
}

.pattern-list .product-info {
  position: absolute;
  bottom: 0;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 27px 60px 43px;

  text-align: center;

  background-color: #eeeeee;
}

.pattern-list-item:hover .product-info {
  display: block;
}

.pattern-list-item:focus-within .product-info {
  display: block;
}

.product-title {
  margin: 0;
  margin-bottom: 15px;
}

.product-title-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-title-link:hover,
.product-title-link:focus {
  color: #fb565a;
}

.product-title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-text {
  margin: 0;
  margin-bottom: 32px;

  line-height: 18px;
  color: #666666;
}

.button-price {
  display: block;
  margin: 0 20px;
  padding: 15px 5px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50px;
  padding: 13px 3px;

  vertical-align: middle;
  text-align: center;

  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
}

.pagination .pagination-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-next {
  width: 260px;
}

.pagination li {
  margin-right: 11px;
}

.pagination li:last-child {
  margin-right: 0;
}

.wrapper {
  background-color: #eeeeee;
}

.main-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.user-list li {
  position: relative;
}

.map-wrapper {
  height: 416px;
  margin: 0 auto;

  background: url("../img/map.png") no-repeat center;
}
